<div class="container p-2 mt-0 border rounded">
    <div class="row ms-1 text-end">
        <h4 class="mb-0">Search Hotels</h4>
        <p class="fs-bold mt-0">You Plan your TRIP, we Make your TRIP</p>
    </div>
    <div class="row border border-secondary  rounded m-2 p-2">
        <div class="col-md-4">
            <div class="mb-3">
                <label for="id1" class="form-label">Enter City</label>
                <input type="text" class="form-control py-2" id="id1" name="city" [(ngModel)]="city">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
               
                <div class="col-xs-12 col-12 col-md-4 form-group w-75">
                  <label for="id3" class="form-label">Choose Date</label>
                  <input id="3" type="text"
                         placeholder="Daterangepicker"
                         class="form-control"
                         bsDaterangepicker
                         name="chooseDate"
                         [(ngModel)]="chooseDate"
                         (ngModelChange)="dateSelect()">
                </div>
              </div>
              </div>
        
        <div class="col-md-4">
            <label for="id2" class="form-label">Rooms</label>
            <div class="dropdown curosr">
                <button class="btn border dd dropdown-toggle w-75" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  {{rooms}}
                </button>
                <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenuButton1">

                  <li><a class="dropdown-item dd" *ngFor="let opt of roomsArr" (click)="selroom(opt)" >{{opt}}</a></li>
                  
                 
                </ul>
              </div>
        </div> 

        </div>
        
        <div class="text-center">
            <button type="button" class="btn btn-secondary px-5 m-1" (click)="searchHotels()" routerLink="/hotels/search-hotels">Search Hotels</button>
        </div>

    </div>


   {{checkIn|date:'short'}}
   {{city}}
   {{rooms}}
